
.display-head {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.body {
  margin: 1rem;
}
.form-group {
  margin-left: 1rem;
  margin-top: 1.5rem;
}
.selector {
  /* margin-top: .25rem; */
  margin-left: 1rem;
}
